<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <h1>Contacto</h1>
    <p>¡Contáctame para colaboraciones, oportunidades laborales o simplemente para saludar!</p>
    <p>Email: ivanchecag2004@gmail.com</p>
    <p>Teléfono: +34 611104558</p>
    <a href="/">Volver al inicio</a>
</body>
</html>
