<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portfolio</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">

</head>
<body>
    <h1>Bienvenido a mi Portfolio</h1>
    <p>¡Hola! Soy Pedro y este es mi portfolio.</p>
    <p>Explora las diferentes secciones para conocer más sobre mí y mi trabajo.</p>
    <h1>Hello, Flask!</h1>
    <a href="/contacto">Contacto</a>

</div>
</body>
</html>
